{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>메인 페이지</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style-history.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<body>
    <div class = "container">
    <header>
        <nav>
           <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" width="100" height="75" style="float: left; margin-left: 40px;"></a>
            <ul>
                <li>
                    <select id="language-select" class="text-button" onchange="changeLanguage()">
                        <option value="None" disabled hidden selected>언어</option>
                        <option value="ko">한국어</option>
                        <option value="en">English</option>
                        <option value="ja">日本語</option>
                        <option value="zh">中文</option>
                    </select>
                  </li>
                <li><a href="{% url 'history' %}" class="text-button">분석이력</a></li>
                <li><a href="{% url 'info' %}" class="text-button">회원 정보</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="text-button">로그아웃</a></li>
                {% else %}
                <li><a href="{% url 'login' %}" class="text-button">로그인</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="history-content">
        <h1>{{ user.display_name }} 님의 분석 이력</h1>
        </form>
            <ul>
                {% if summaries %}
                    {% for summary in summaries %}
                        <li><a href="{% url 'summary_detail' summary.pk %}">{{ summary.site_name }}</a></li>
                    {% endfor %}
                {% else %}    
                    <li>저장된 약관이 없습니다.</li>
                {% endif %}
            </ul>
            <form action="{% url 'delete_policy' %}" method="post" style="margin-top: 20px;">
                {% csrf_token %}
                <button type="submit">모든 기록 삭제</button>
            </form>
        {% comment %}<a href="#" style="text-decoration: none;"><div class="history-box">네이버</div></a>
        <a href="#" style="text-decoration: none;"><div class="history-box">카카오</div></a>
        <a href="#" style="text-decoration: none;"><div class="history-box">라인</div></a>
        <a href="#" style="text-decoration: none;"><div class="history-box">쿠팡</div></a>
        <a href="#" style="text-decoration: none;"><div class="history-box">배달의민족</div></a>
        <a href="#" style="text-decoration: none;"><div class="history-box">당근마켓</div></a>
        <a href="#" style="text-decoration: none;"><div class="history-box">토스</div></a>
        <a href="#" style="text-decoration: none;"><div class="history-box">직방</div></a>{% endcomment %}
    </div>
    <hr class="history-border">
    <footer>
        <div class="footer-left">
            <a href="#" class="text-button">지우개</a>
            <a href="#" class="text-button">개인정보처리방침</a>
        </div>
        <div class="footer-right">
            <a href="https://facebook.com" target="_blank">
                <img src="{% static 'facebook.png' %}" alt="Facebook">
            </a>
            <a href="https://kr.linkedin.com/" target="_blank">
                <img src="{% static 'Linkedin.png' %}" alt="LinkedIn">
            </a>
            <a href="https://youtube.com/" target="_blank">
                <img src="{% static 'Youtube.png' %}" alt="Youtube">
            </a>
            <a href="https://instagram.com/" target="_blank">
                <img src="{% static 'Instagram.png' %}" alt="Instagram">
            </a>
        </div>
    </footer>
    </div>
</body>
</html>